name: Node.js CI/CD

on:
  push:
    branches: [ main ]
    
jobs:
  build:

    runs-on: self-hosted
    env:
      working-directory: ./cicdpractice

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run in Directory
      working-directory: ${{env.working-directory}}
      run: npm i
    - name: Run build
      working-directory: ${{env.working-directory}}
      run: npm run build --if-present
    - name: Run test
      working-directory: ${{env.working-directory}}
      run: npm test
      
      #commit
       

